# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environment
venv/
.env/
.venv/

# dotenv
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Node/npm/npx
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local docs
plan.md